.logo {
    width: 220px;
}

.imagen-seccion img {
    width: 100%;
    border-radius: 12px;
}

.texto-seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flota,
.captura,
.distribucion,
.producto-final {
    margin-bottom: 80px;
}

.producto-final {
    text-align: center;
}

.producto-final img {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    display: block;
    border-radius: 12px;
}